@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fuentes/sourcesanspro-regular.woff2") format("woff2"), url("../fuentes/sourcesanspro-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fuentes/sourcesanspro-italic.woff2") format("woff2"), url("../fuentes/sourcesanspro-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fuentes/sourcesanspro-semibold.woff2") format("woff2"), url("../fuentes/sourcesanspro-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fuentes/sourcesanspro-semibolditalic.woff2") format("woff2"), url("../fuentes/sourcesanspro-semibolditalic.woff") format("woff");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fuentes/sourcesanspro-bold.woff2") format("woff2"), url("../fuentes/sourcesanspro-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fuentes/sourcesanspro-bolditalic.woff2") format("woff2"), url("../fuentes/sourcesanspro-bolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic; }

* {
  margin: 0;
  padding: 0; }

body {
  background-image: url("../img/fondo_textura.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

button.btn, button.btn:focus {
  background: #ffd200;
  color: #e31837;
  -webkit-box-shadow: 0 4px 0 #fca503;
  box-shadow: 0 4px 0 #fca503;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5em;
  padding: 2px 20px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s; }

button.btn:hover, button.btn:active {
  background: #b9071e;
  -webkit-box-shadow: 0 4px 0 #6b020c;
  box-shadow: 0 4px 0 #6b020c;
  color: #FFF; }
