#game_board {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 130%;
  height: 100%;
  margin: auto;
  padding: 0.5%;
  z-index: 1; }
  #game_board .row_board {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0.5% 0; }
    #game_board .row_board .card_board {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0 0.5%;
      /*overflow: hidden;*/
      -webkit-perspective: 700;
      perspective: 700; }
      #game_board .row_board .card_board > input[type="checkbox"] {
        display: none; }
      #game_board .row_board .card_board .content_card {
        position: relative;
        width: 100%;
        height: 100%;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        cursor: pointer; }
        #game_board .row_board .card_board .content_card .face_card {
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          position: absolute; }
          #game_board .row_board .card_board .content_card .face_card img {
            width: 100%;
            height: 100%; }
        #game_board .row_board .card_board .content_card .face_card:last-child {
          -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }
      #game_board .row_board .card_board > input[type="checkbox"]:checked ~ .content_card {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg); }
      #game_board .row_board .card_board .open_card {
        -webkit-transform: rotateY(180deg) !important;
        transform: rotateY(180deg) !important; }
      #game_board .row_board .card_board .close_card {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg); }

#restart {
  background: transparent;
  bottom: 10px;
  -webkit-box-shadow: 0 0;
  box-shadow: 0 0;
  padding: 0;
  position: fixed;
  right: 10px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  z-index: 2; }

#restart img {
  width: 25px; }

#restart:hover {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg); }
